---
layout: academic
title: "Talks and presentations"
permalink: /talks/
author_profile: false
intro: "Verified oral presentations are separated from related conference output."
---

<div class="section-heading"><h2>Oral and invited talks</h2></div>

{% assign guoshoujing = site.talks | where: "permalink", "/talks/2026-05-guoshoujing" | first %}
{% include academic/talk-entry.html item=guoshoujing %}

{% assign ccbc = site.talks | where: "permalink", "/talks/2026-01-ccbc" | first %}
{% include academic/talk-entry.html item=ccbc %}

{% assign cspn = site.talks | where: "permalink", "/talks/2023-12-lsr-jamboree" | first %}
{% include academic/talk-entry.html item=cspn %}

{% assign pair_counting = site.talks | where: "permalink", "/talks/2023-11-intelligent-computing" | first %}
{% include academic/talk-entry.html item=pair_counting %}

{% assign ml_astronomy = site.talks | where: "permalink", "/talks/2023-11-ml-astronomy" | first %}
{% include academic/talk-entry.html item=ml_astronomy %}

<div class="section-heading"><h2>Related conference output</h2></div>

{% assign ursi = site.talks | where: "permalink", "/talks/2023-ieee-ursi-gass" | first %}
{% include academic/talk-entry.html item=ursi %}
